@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body { 
    font-family: 'Poppins', sans-serif;
    background-color: beige;
    color: #41523B;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.enter-number { 
    margin-bottom: 20px;
}

#number { 
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    text-align: center;
    width: 360px;
    padding: 15px;
}

.btn-container { 
    margin: 20px 0;
}

button { 
    background-color: #B0CCA3;
    border: none;
    border-radius: 5px;
    padding: 15px;
    width: 400px;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}

#result { 
    margin-top: 25px;
    font-size: 20px;
}